<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenshanlaoyuan.mobilesafe"
    android:versionCode="1"
    android:versionName="土豆版" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.shenshanlaoyuan.mobilesafe" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 易信分享回调 -->
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 支付宝分享回调 -->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.PhoneLocationActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.AToolActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.CallLogActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.SmsLogActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.HomeActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.LostFindActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.Setup1Activity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.Setup2Activity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.Setup3Activity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.Setup4Activity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.FriendsActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.SettingCenterActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.TelSmsSafeActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.AppManagerActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.TastManagerActivity" >
        </activity>
        <activity android:name="com.shenshanlaoyuan.mobilesafe.activities.TaskManagerSettingActivity" >
        </activity>

        <service android:name="com.shenshanlaoyuan.mobilesafe.service.LostFindService" >
        </service>
        <service android:name="com.shenshanlaoyuan.mobilesafe.service.LocationService" >
        </service>
        <service android:name="com.shenshanlaoyuan.mobilesafe.service.TelSmsBlackService" >
        </service>
        <service android:name="com.shenshanlaoyuan.mobilesafe.service.ComingPhoneService" >
        </service>
        <service android:name="com.shenshanlaoyuan.mobilesafe.service.ClearTaskService" >
        </service>
        <service android:name="com.shenshanlaoyuan.mobilesafe.service.AppWidgetService" >
        </service>
         <service android:name="com.shenshanlaoyuan.mobilesafe.service.ClearTaskService" >
        </service>

        <receiver android:name="com.shenshanlaoyuan.mobilesafe.receiver.ExampleAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
        
         <receiver android:name="com.shenshanlaoyuan.mobilesafe.receiver.ClearTaskReceiver">
            <intent-filter>
                <action android:name="com.shenshanlaoyuan.widget.cleartask"></action>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.shenshanlaoyuan.mobilesafe.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.shenshanlaoyuan.mobilesafe.receiver.DeviceAdminSample"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>